/hello world/nbproject/private/
/hello world/build/
/ARandomProject/nbproject/private/
/Person/nbproject/private/
/Person/build/
/ARandomProject/build/
/Person2/nbproject/private/
/Person2/build/
/Math/nbproject/private/
/Math/build/
/MathOpperations/nbproject/private/
/MathOperations/nbproject/private/
/MathOperations/build/