/hello world/nbproject/private/
/hello world/build/
/ARandomProject/nbproject/private/
/Person/nbproject/private/
/Person/build/
/ARandomProject/build/
/Person2/nbproject/private/
/Person2/build/
/Math/nbproject/private/
/Math/build/
/MathOpperations/nbproject/private/
/MathOperations/nbproject/private/
/MathOperations/build/
/booleans/nbproject/private/
/booleans/build/
/userdata/nbproject/private/
/userdata/build/
/conditionals/nbproject/private/
/conditionals/build/
/repeater/nbproject/private/
/repeater/build/
/double dice thing/nbproject/private/
/double dice thing/build/
/GraphingFormulas/nbproject/private/
/GraphingFormulas/build/
/Array/nbproject/private/
/arrayfun/nbproject/private/
/arrayfun/build/
/ForLoopsFun/nbproject/private/
/ForLoopsFun/build/
/car/nbproject/private/
/cartest/nbproject/private/
/mathIO/nbproject/private/
/mathIO/build/
/puzzle/nbproject/private/
/puzzle/build/
/arraylist/nbproject/private/
/arraylist/build/
/ChooseYourOwnAdventure/nbproject/private/
/ChooseYourOwnAdventure/build/
/AddressBook/nbproject/private/
/AddressBook/build/
/copiedfrominternetaddressbook/nbproject/private/
/AddressBook2/nbproject/private/
/AddressBook2/build/
/Hangman/nbproject/private/
/Hangman/build/